// Specific CSS for your home-page

.banner {
  text-align: center;
  height: calc(100vh - 60px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid white;
}
.banner h1 {
  color: black;
  font-size: 28px;
}
.banner p {
  color: black;
  font-size: 20px;

}
.banner-content {
  background: rgba(71, 73, 74, 0.6);
  box-shadow: 2px 2px #333333;

}
