// Specific CSS for your home-page
.banner {
  text-align: center;
  min-height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 120px;

}
.banner h1 {
  color: white;
  font-size: 28px;
}
.banner p {
  color: white;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}
.banner-content {
  margin: 80px 20px;
  padding: 15px;
  background: rgba(71, 73, 74, 0.6);
  box-shadow: 2px 2px #333333;
}

