

.modal-box {
  background: white;
  -moz-box-shadow: 7px 7px 23px 2px rgba(0,0,0,0.68);
  box-shadow: 17px 12px 32px 12px rgba(0, 0, 0, 0.68);
  border-radius: 1em;
}

.modal-box-content {
  padding: 20px;
  font-size: 1px;
  font-family: 'Playfair Display', serif;
}
.modal-box-xs {
    background: white;
    -webkit-box-shadow: 17px 12px 32px 12px rgba(0, 0, 0, 0.68);
    box-shadow: 17px 12px 32px 12px rgba(0, 0, 0, 0.68);
    border-radius: 1em;
    margin-top: -71px;
    margin-right: -77px;
    margin-left: -80px;
}
