#modal {
  background: rgba(0,0,0, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: none;
}
.modal-box {
  background: #FFF;
  width: 60%;
  height: 300px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -30%;
  margin-top: -150px;
}
.close-modal {
  padding: 5px, 10px;
  border: 1px solid #CCC;
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 7px;
  color: #CCC;
  cursor: pointer;
}
.close-modal:hover {
  color: #666;
  border-color: #666;
}
