<div class="global-footer">
  <div class="container footer-information ">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <p><i class="fa fa-phone" aria-hidden="true"></i> (11) 98205 - 9644</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a data-toggle="modal" data-target="#email" class="contact">
          Contate agora!
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> rodrigo.assalve@adv.oabsp.org.br</p>
      </div>
    </div>
  </div>
  <br>
  <div class="assignature">
    <p><i>Desenvolvido por Luana Perin e Bruno Cerqueira</i></p>
  </div>
</div>

<%= render "shared/email" %>
