<div class="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p>Contato</p>
      </div>
      <div class="col-xs-6">
        <p>Contato</p>
      </div>
    </div>
  </div>
  <div class="assignature">
    <p>Desenvolvido por Luana Perin e Bruno Cerqueira</p>
  </div>
</div>
