<div class="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>Contato</p>
      </div>
      <div class="col-xs-4">
        <p>Contato</p>
      </div>
      <div class="col-xs-12 col-md-4 assignature">
        <p>Desenvolido por VR</p>
      </div>

    </div>

  </div>




</div>
