<div class="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p><i class="fa fa-phone" aria-hidden="true"></i> (11) 98205 - 9644</p>
      </div>
      <div class="col-xs-6">
        <a data-toggle="modal" data-target="#email">
          <p>Contato</p>
        </a>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> rodrigo.assalve@adv.oabsp.org.br</p>
      </div>
    </div>
  </div>
  <div class="assignature">
    <p><i>Desenvolvido por Luana Perin e Bruno Cerqueira</i></p>
  </div>
</div>

<%= render "shared/email" %>
