<!-- Modal -->
<div class="modal fade comercial" tabindex="-1" role="dialog" aria-labelledby="comercial" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h5 class="modal-title" id="comercial"><strong>Comercial</strong></h5>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p align="justify">Os clientes recebem assessoria na condução de suas relações e práticas comerciais, referentes à compra e venda mercantil, títulos de créditos, protestos e representação comercial.<br></p>
        <p align="justify">Caso o cliente tenha dificuldade em recebimento de ativos o escritório trabalha com a recuperação de créditos de forma extrajudicial, além de cobranças judiciais por meio das ações de execução, monitória, habilitações de créditos em recuperação de empresas e falências.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade societario" tabindex="-1" role="dialog" aria-labelledby="societario" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h5 class="modal-title" id="societario"><strong>Societário</strong></h5>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p align="justify">O escritório oferece planejamento societário a companhias nacionais e estrangeiras, bem como assessoria na constituição de sociedades e filiais, associações e fundações, e, também, atuando em dissoluções, incorporações, cisões, fusões e transformações.</p>

        <p align="justify">O auxílio aos clientes está ligado a estruturação e tomadas de decisões nas operações de fusão, aquisição e cisão de empresas, inclusive para companhias estrangeiras que desejem ingressar no mercado brasileiro, para tanto, realizamos a auditoria legal (due diligence) e negociações, além de confeccionarmos os instrumentos societários necessários.</p>

        <p align="justify">Os serviços de constituição de empresas, obtenção de CNPJ e inscrições municipais e estudais também são prestados pelo escritório.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade consumidor" tabindex="-1" role="dialog" aria-labelledby="consumidor" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h5 class="modal-title" id="consumidor"><strong>Consumidor</strong></h5>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p align="justify">O serviço prestado nesse ramo do direito está ligado a realização de defesas nas esferas judiciais e administrativas, especialmente perante PROCON, Juizados Especiais Cíveis e Justiça Comum, além de proceder negociações junto aos consumidores, sempre visando reduzir o custo total do cliente.</p>

        <p align="justify">O escritório, ainda, faz análises de procedimentos para verificar se os adotados pela empresa, encontram-se conforme os ditames do Código de Defesa do Consumidor e assim eliminar ou mitigar riscos frente a relações não saudáveis à empresa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade contratos" tabindex="-1" role="dialog" aria-labelledby="contratos" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h5 class="modal-title" id="contratos"><strong>Contratos</strong></h5>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p align="justify">O escritório assessora empresas na confecção e análise de instrumentos contratuais, sejam eles comerciais ou cíveis, e, também, assessora em negociações dos termos, bem como confecciona pareceres para fundamentar as pretensões de seus clientes.</p>

        <p align="justify">Nas diversas atividades desenvolvidas nesta área, ressalta-se a análise e elaboração dos contratos de compra e venda; arrendamento; locação de bens, podendo ser móveis ou imóveis, sendo que, os imóveis podem ser residenciais ou comerciais, inclusive Shopping Center, contratos de concessão comercial e contratos de franquia e licenciamento.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade trabalhista" tabindex="-1" role="dialog" aria-labelledby="trabalhista" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h5 class="modal-title" id="trabalhista"><strong>Trabalhista</strong></h5>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p align="justify">Os serviços abrangem a defesa e o acompanhamento de reclamações trabalhistas, atuando de forma específica a cada tipo de cliente, desde a fase inicial até as últimas instâncias do Judiciário.</p>

        <p align="justify">No âmbito consultivo o escritório visa sempre obter os melhores resultados presente à complexa e delicada legislação trabalhista, tendo como os serviços abrangentes reuniões, consultas, orientações para discutir políticas ou interpretações jurídicas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
