<div class="total-page">
  <div class="navbar-basic navbar-main-hidden hidden-menu hidden-xs">

    <!-- Right Navigation -->
    <ul class="navbar-right">
      <li href="" class="navbar-item navbar-link">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="icon-name">Página inicial</span>
      </li>
      <li href="" class="navbar-item navbar-link">
        <i class="fa fa-gavel" aria-hidden="true"></i>
        <span class="icon-name">Serviços</span>
      </li>
      <li href="" class="navbar-item navbar-link">
        <i class="fa fa-university" aria-hidden="true"></i>
        <span class="icon-name">Sobre</span>
      </li>
      <li href="" class="navbar-item navbar-link">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="icon-name">Contato</span>
      </li>
    </ul>
  </div>


    <!-- Dropdown appearing on mobile only -->
  <div class="navbar-dropdown hidden-md hidden-lg hidden-sm">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">Página inicial</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Sobre</a></li>
        <div role="separator" class="divider"></div>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</div>
