<div class="banner" style="background-image: url('http://res.cloudinary.com/rodrigofernandes/image/upload/v1506026557/black-and-white-architecture-skyline-street-building-city-1053294-pxhere.com_my1nhc.jpg');">
 <div class="banner-content">
    <h1>Rodrigo Fernandes Advocacia</h1>
    <hr>
    <p> OAB-43543-SP</p>
  </div>
</div>
