<div class="banner" style="background-image: url('http://res.cloudinary.com/rodrigofernandes/image/upload/v1506026557/black-and-white-architecture-skyline-street-building-city-1053294-pxhere.com_my1nhc.jpg');">
  <div class="banner-content">
    <h1>Rodrigo F. Assalve Advogados</h1>
    <hr>
    <p> OAB/SP 361482 </p>
  </div>
</div>
