
<div class="banner" style="background-image: url('http://res.cloudinary.com/rodrigofernandes/image/upload/e_grayscale/v1506112472/pedestrian-road-skyline-street-highway-city-831040-pxhere.com_dm7wcj.jpg ');">
  <div class="col-xs-8 col-sm-12">

    <div class="modal-box">
      <div class="modal-box-content">
        <h3>Sobre o escritório</h3>
        <p align="justify" style="color: black;">
        <strong><i><u>Rodrigo Fernandes Assalve Advogados</u></i></strong> é um escritório de advocacia atuante nos ramos do Direito Civil, Direito do Consumidor, Direito Empresarial e Empresarial Trabalhista.</p>
        <br>
        <p align="justify" style="color: black;">O escritório pratica a advocacia com visão de negócios e foco em resultados, desenvolvendo soluções customizadas para seus clientes que operam em diversos setores da economia.</p>
        <br>
        <p align="justify" style="color: black;">Tendo como objetivo principal a segurança e qualidade na prestação dos serviços, para alcançar a máxima eficiência na operação de seus clientes. Em busca da conquista do grau máximo de desempenho dos serviços demandados, as questões confiadas ao escritório são sempre tratadas e desenvolvidas de forma individual e com extremo zelo.</p>
        <br>
        <p align="justify" style="color: black;">Estes elementos formam a cultura organizacional que alia <u>pioneirismo, tradição e inovação.</u></p>
      </div>
    </div>


  </div>
</div>
