.global-footer {
  text-align: center;
  padding-top: 0px;
  padding-top: 10px;
  width: 100%;
  background-color: #020311;
  color: white;
  p {
    margin-bottom: 0px;
  }
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  font-size: 12px;
}

.assignature {
  font-weight: lighter;
  font-size: 8px;
  padding: 4px;
  border-top: 1px solid black;
  font-size: 14px;
  text-align: center;
  width: 100%;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.3);
  box-shadow:0 0 20px rgba(0,0,0,0.3);

}

.footer-information {
  padding-top: 15px;
}

.btn-contact {
  a {
  text-decoration: none;
  }
}

.contact {
  cursor: pointer;
  text-decoration: none;
}
