/* Main navbar */
.total-page {
  margin-bottom: calc(-100vh + 50px);
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}

.navbar-main {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  background-color: #020311;
  color: white;
  position: fixed;
  right: 0px;
  opacity: 0.7;
  .navbar-right {
    li {
      margin-bottom: 40px;
    }
  }
}

.navbar-main-hidden {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 200px;
  width: 170px;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  background-color: #020311;
  color: red;
  position: fixed;
  right: 0px;
  opacity: 0.7;
  .navbar-right {
    li {
      margin-bottom: 10px;
    }
  }
}


/* Right section */
.navbar-right {
  transition: all 0.3s ease-in-out;
  padding-left: 0px;
  li {
    list-style: none;
    opacity: 1;
  }
}

/* Basic navbar item */
.navbar-item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 0 10px;
}

/* Navbar link */
.navbar-link {
  font-size: 25px;
  font-weight: bold;

  .icon-name {
    font-size: 15px;
    margin-left: 15px;
  }
}
.navbar-link:hover {
  color: #FF5300;
  text-decoration: none;
}

////////////// FIM DO MENU SLIDE ////////////////////


/* Dropdown menu */
.navbar-dropdown {
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  background-color: #020311;
}

.dropdown {
  padding: 0 3px;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background-color: #020311;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: white !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.hidden-menu {
  margin-right: -120px
}

.divider {
  background-color: rgba(255,255,255,1);
}
